body{
	max-width:  1800px;
	margin: 30px auto;
}

.logo{
	width: 100%;
	height: 300px
}

#login-form {
	width: 300px;
	margin: 100px auto 0;
}

.vertical-menu {
}

.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a.active {
	background-color: #0069d9;
	color: white;
}

.posts-buttons{
	margin-bottom: 20px;
}

#uploadModal iframe, #editModal iframe{
	border: none;
	width: 100%;
}

#editModal iframe{
	height: 450px;
}

#uploadFrame{
	height: 350px;
}

.post-image{
	width: 200px;
}

#default[type=checkbox]{
	width: auto;
}

.filter-date{
	padding: 6px 0
}

#uploadButton{
	margin-top: 75px;
}

#txaCookie{
	width: 100%;
}